header {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    padding: 0px;  
    position: relative;
}
.nav-menu {
    background-color: #ffffff00;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 40px; 
    top: 0;
    left: 0;
    width: 100%; 
    color: rgb(0, 0, 0);
}


.logo {
    display: flex;
    align-items: center; 
}

.logo img {
    width: 37px;
    height: 37px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 35px;
    font-family: 'Platypi', sans-serif;
    font-weight: bolder;
    text-align: center;
    white-space: nowrap;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    margin-left: auto; 
    justify-content: center;
}

.nav-links a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s; 
}

.nav-links a:hover {
    color: #d042a5; 
}

.nav-links a.active {
    color: #c8349c; 
    border-bottom: 2px solid #c8349c; 
}


.menu-toggle {
    position: fixed; 
    top: 28px;     
    right: 20px;
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}


@media (max-width: 768px) {
    .dropdown{
        margin-top: 10%;
        z-index: 9999;
    }
    
    .nav-links {
        border-radius: 5%;
        margin-right: 5%;
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        background-color: #b19cafe2;
        width: 150px;
        padding: 8px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        text-align: right;
    }
  
    .nav-links.show {
        display: flex;
    }
  
    .menu-toggle {
        display: block;
    }
  
    .logo {
        flex: 1;
    }
}