/* General Style of header in every page */



/* Logo styling */
.logo {
    display: flex;
    align-items: center; /* Center logo items vertically */
}

.logo img {
    width: 37px;
    height: 37px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 35px;
    font-family: 'Platypi', sans-serif;
    font-weight: bolder;
    text-align: center;
    white-space: nowrap;
}

/* Styling for navigation menu items */
