

/* Body of this page -> background */
body {
    background-image: url(images/background.png); /*without brightness*/
    background-size: cover; /* cover all the window */
    height: 100vh;
    width: 100vw; /* width for all the viewpoint */
    position: relative;
    color: #ffffff; /* for the text */
    overflow: visible; /* Allow vertical scrolling, but prevent horizontal scrolling */
    overflow-x: hidden;
}


.title {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 2%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 20px 50px 30px 50px;
}

.small-title {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}



.edit-profile {
    background-color: #ffffff;
    width: 100%;
    border-radius: 8px;
    padding: 2% 2% 2% 2%;
    margin-bottom: auto;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
    margin-right: 2%;
}


.edit-profile h4 {
    padding: 10px 10px 10px 10px;
}

.edit-profile form{
    padding: 10px 10px 10px 10px;
}

.past-schedules {
    background-color: #ffffff;
    width: 100%;
    border-radius: 8px;
    padding: 2% 2% 2% 2%;
    margin-bottom: auto;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
    margin-right: 1%;
}

.past-schedules h4 {
    padding: 10px 10px 10px 10px;
}


.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    gap: 10%;
}

.start-button {
    margin-top: 10px;
    padding: 5px 10px;
    background: #e666c0;
    color:#000000;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family:Poppins;
}

.start-button:hover {
    background: #e3a8ba !important;
    color: #000000 !important;

}

.profile-schedules-container {
    display: flex;
    flex-direction: column; /* Stack items vertically by default */
}

.edit-profile,
.past-schedules {
    width: 100%; /* Full width on small screens */
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    gap: 10px; /* Space between cards */
}

.card {
    flex: 1 1 100%; /* Each card takes full width on small screens */
}


@media (min-width: 576px) {
    .card {
        flex: 1 1 48%; /* Two cards side by side on small tablets */
    }
}

@media (min-width: 768px) {
    .profile-schedules-container {
        flex-direction: row;/* Arrange items in a row on larger screens */
        justify-content: space-between; /* Space between sections */
    }

    .edit-profile,
    .past-schedules {
        width: 48%; 
    }

    .card {
        flex: 1 1 48%; /* Display two cards side by side on larger screens */
    }
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .past-schedules {
        margin-top: 20px; /* Add spacing on top for small screens */
    }
}
