/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/background.png);
    background-size: cover;
    position: relative;
    color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: auto;
    overflow: visible;
    overflow-x: hidden;
    overflow-y: auto;

}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 30px 50px;
    gap: 60px;
    align-content: center;
    align-items: left;
    min-height: 100%; 
    padding-bottom: 30px;

}
    
.info-container {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    padding-left: 40px;

}

.info-container h2 {
    font-size: 2.5rem;
    margin: 20px 0;
}

.discover-text {
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #000000;
}

.world-text {
    font-family: 'Praise', cursive;
    color: #000000;
    font-size: 40px;
}

.step-text {
    font-family: 'Times new Roman', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #000000;
}

.info-container p {
    margin-top: 10px;
    font-size: 17px;
    color: #000000;
    font-family: 'Poppins', sans-serif;   
}

.start-button {
    margin-top: 20px;
    padding: 12px 10px;
    background: rgb(218, 178, 174);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family:Poppins;
}

.start-button:hover {
    background: #B1BAC9;
    color: #000000;

}

.search-container {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 750px;
    margin-left: 0px;
}

.carousel {
    flex: 1;
    max-width: 100%; 
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding-left: 50px;  
    max-height: 80vh; 
    
}

.carousel img {
    width: 140%;
    height: 100%;
    display: none;
    object-fit: cover;
    margin-left: -10%
    
}

.carousel img.active {
    display: block;
}
  

@media (max-width: 1200px) {
    .carousel {
        max-width: 100%; 
        width: 100%;
        height: auto;
        overflow: hidden;
        padding-left: 0;
        max-height: 50vh; 
        margin-top: 20px; 
        text-align: center;
    }

    .carousel img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
    }
}

.nav-links {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    text-align: right; 
}

.nav-links li {
    margin: 0;
    padding: 0;
}

.nav-links li a {
    display: block;
    padding: 0px 0px;
    text-decoration: none;
    color: #333;
    white-space: nowrap; 
}

