* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body of this page -> background */
/*body {
    background-color: #ffffff; 
    background-size: cover; 
    min-height: 100vh; 
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100vw; 
    position: relative;
    color: #ffffff; 
    overflow-x: hidden; 
}*/

.header {
    background-color: #B098E3;
}

.title {
    text-align: left;
    font-family: 'Poppins', sans-serif;

}

.main-title {
    font-size: 35px;
    font-family: 'Nunito', sans-serif;
    margin-left: 4%;
}

main {
    width: 100%;
    display: flex;
    padding: 30px 40px 40px 40px;
    /*min-height: calc(100vh - 50px); /* Ensures content can extend beyond the viewport */
}

.small-title {
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

/* Navigation menu */
.nav-menu {
    display: flex;
    justify-content: space-between; /* Space between logo and navigation items */
    align-items: center; /* Align items vertically in the center */
    padding: 20px 40px;
    top: 0px;
    left: 0px;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

/* Style of the h1 in logo class */
.logo h1 {
    width: 215px;
    height: 48px;
    font-size: 40px;
    font-family: 'Poetsen One', sans-serif;
    font-weight: 400; /* Regular weight */
    font-style: normal;
    text-align: center;
    white-space: nowrap;
}

/* First half title */
.white-title {
    color: #ffffff;
}

/* Second half title */
.orange-title {
    color: #FFA500;
}

.nav-menu ul {
    list-style: none; /* Removes bullets from the list */
    display: flex;
    gap: 30px; /* Spacing between navigation items */
    margin-right: 20px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: black;
}

.about-container {
    background-color: #f4f4f4;
    width: 100%;
    border-radius: 18px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    margin-bottom: 8%;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
    min-height: 500px; 
    font-family: 'Poppins', sans-serif;
}


.about-text {
    padding-right: 1%;
}




.button {
    background-color: #FFA500; /* Button color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    padding: 12px 24px; /* Padding for button */
    font-size: 16px; /* Font size */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth hover transition */
    position: absolute;
    right: 28%;
    top: 65%;

}

/* Button hover effect */
.button:hover {
    background-color: #d45900; /* Darker shade of orange on hover */
}


.footer-container {
    color: white;
}

