/* General Style of header in every page */
.nav-menu {
    background-color: #ffffff00;
    display: flex;
    justify-content: space-between; /* Align logo and menu items in a single line */
    align-items: center; /* Vertical alignment */
    padding: 20px 40px; /* Padding around navigation items */
    top: 0;
    left: 0;
    width: 100%; /* Full-width menu */
}

/* Logo styling */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center logo items vertically */
}

.logo img {
    width: 37px;
    height: 37px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 35px;
    font-family: 'Platypi', sans-serif;
    font-weight: bolder;
    text-align: center;
    white-space: nowrap;
}

/* Styling for navigation menu items */
.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    margin-left: auto; /* Align the menu to the right */
    justify-content: center; /* Center the items within the menu */
}

.nav-menu a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s; /* Smooth color transition on hover */
}

.nav-menu a:hover {
    color: #d042a5; /* White text on hover */
}

.nav-links a.active {
    color: #c8349c; 
    border-bottom: 2px solid #c8349c; 
}