

/* Body of this page -> background */
body {
    background-image: url(images/Back.png); /*without brightness*/
    background-size: cover; /* cover all the window */
    height: 100vh;
    width: 100vw; /* width for all the viewpoint */
    position: relative;
    color: #ffffff; /* for the text */
    overflow: hidden; /* Allow vertical scrolling, but prevent horizontal scrolling */
}


.title {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 2%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 100px 50px 30px 50px;
}

.small-title {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

/* Navigation menu */
.nav-menu {
    display: flex;
    justify-content: space-between; /* Align logo and menu items in a single line */
    align-items: center; /* Vertical alignment */
    padding: 20px 40px; /* Padding around navigation items */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Full-width menu */
}

/* Logo styling */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center logo items vertically */
}

.custom-logo-image {
    width: 37px !important;
    height: 37px !important;
    margin-right: 10px !important;
}

.custom-logo-title{
    font-size: 35px !important;
    font-family: 'Platypi', sans-serif !important;
    font-weight: bolder !important;
    text-align: center !important;
    white-space: nowrap !important;
}

/* Styling for navigation menu items */
.nav-ul {
    list-style: none !important;
    display: flex !important;
    gap: 20px !important;
    font-family: 'Poppins', sans-serif !important;
    margin: 0 !important; /* No extra margin */
    padding: 0 !important;
}

.nav-menu a {
    color: rgb(0, 0, 0) !important; /* Black text */
    text-decoration: none !important;
    font-size: 18px !important;
    transition: color 0.3s !important; /* Smooth color transition on hover */
}

.nav-menu a:hover {
    color: #ffffff !important; /* White text on hover */
}



.edit-profile {
    background-color: #ffffff;
    width: 100%;
    border-radius: 8px;
    padding: 2% 2% 2% 2%;
    margin-bottom: auto;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
    margin-right: 2%;
}


.edit-profile h4 {
    padding: 10px 10px 10px 10px;
}

.edit-profile form{
    padding: 10px 10px 10px 10px;
}

.past-schedules {
    background-color: #ffffff;
    width: 100%;
    border-radius: 18px;
    padding: 2% 2% 2% 2%;
    margin-bottom: auto;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
    margin-right: 1%;
}

.past-schedules h4 {
    padding: 10px 10px 10px 10px;
}


.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    gap: 15%;
}
