/*Body of this page -> background*/
.body {
    background-color: #B098E3; /*without briightness*/
    background-size: cover; /* cover all the window */
    height: 100vh; /* height for all the viewpoint */
    width: 100vw; /* width for all the viewpoint */
    position: relative;
    color: #ffffff; /*for the text*/
    overflow: hidden;
    
}

/* Navigation menu */
.nav-menu {
    display: flex;
    justify-content: space-between; /* Space between logo and navigation items */
    align-items: center; /* Align items vertically in the center */
    margin-top: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 32px;
    height: 32px;
    margin-right: 10px; 
}

/*Style of the h1 in logo class*/
.logo h1 {
    margin-left: 20px;
    width: 215px;
    height: 48px;
    font-size: 40px;
    font-family: 'Poetsen One', sans-serif;
    font-weight: 400; /* Regular weight */
    font-style: normal;
    text-align: center;
    white-space: nowrap;
}


/* First half title */
.white-title {
    color: #ffffff;
}

/* Second half title */
.orange-title {
    color: #FFA500;
}

.nav-menu ul {
    list-style: none; /* Removes bullets from the list */
    display: flex;
    gap: 30px; /* Spacing between navigation items */
    margin-right: 20px;
}  

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20
    px;
    font-family: 'Nunito', sans-serif;
}

