* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body of this page -> background*/
body {
    background-color: #B098E3; /*without briightness*/
    background-size: cover; /* cover all the window */
    height: 100vh; /* height for all the viewpoint */
    width: 100vw; /* width for all the viewpoint */
    position: relative;
    color: #ffffff; /*for the text*/
    overflow: hidden;
    
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 100px 50px 30px 50px;
}

/* Navigation menu */
.nav-menu {
    display: flex;
    justify-content: space-between; /* Space between logo and navigation items */
    align-items: center; /* Align items vertically in the center */
    padding: 20px 40px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo img {
    width: 32px;
    height: 32px;
    margin-right: 10px; 
}

/*Style of the h1 in logo class*/
.logo h1 {
    width: 215px;
    height: 48px;
    font-size: 40px;
    font-family: 'Poetsen One', sans-serif;
    font-weight: 400; /* Regular weight */
    font-style: normal;
    text-align: center;
    white-space: nowrap;
}


/* First half title */
.white-title {
    color: #ffffff;
}

/* Second half title */
.orange-title {
    color: #FFA500;
}

.nav-menu ul {
    list-style: none; /* Removes bullets from the list */
    display: flex;
    gap: 30px; /* Spacing between navigation items */
    margin-right: 20px;
}  

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #094470;

}

.schedule-container {
    background-color: #ffffff;
    width: 100%;
    border-radius: 18px;
    padding: 20px 40px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
    
}

.schedule-overall-title {
    display: flex;
    align-items: center;
}

.schedule-overall-title h2{
    color: #094470;
    font-size: 30px;
    font-family: 'Poetsen One', sans-serif;
    font-weight: lighter;
    border-radius: 18px;
}



