/* General reset for consistent styling across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-color: #e7e3e7; /* Semi-transparent background */
    background-size: cover; /* Cover the entire viewport */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: relative;
    color: #ffffff;
    overflow: hidden;
}

/* Main content container */
main {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 100px 50px 30px 50px; /* Space around content */
    gap: 60px; /* Gap between main sections */
}


/* Schedule container styling */
.schedule-container {
    background-color: #ffffff;
    width: 50%; /* Takes half of the main section's width */
    border-radius: 8px;
    padding: 20px 40px; /* Inner padding */
}

/* Day navigation container (includes arrows and day title) */
.day-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.day-container h2 {
    color: #000000;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
}

.day-container i {
    padding-right: 3%;
    padding-left: 3%;

}

/* Activity list container */
.activity-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #ffffff;
    padding: 20px 10px; /* Padding around the activity items */
    height: 95%; /* Full height minus padding */
    font-weight: normal; 
}

/* Styling for individual activity items */
.activity-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(241, 216, 213, 0.806); /* Soft background color */
    border-radius: 8px; 
    width: 100%; /* Full width of the container */
    color: #000000;
    flex: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 12px; /* Smaller font size */
    font-weight: normal; 
    transition: color 0.3s;
}

.activity-item:hover {
    background-color: #a63864bd; /* Darker background on hover */
}

/* Container for icon images in activities */
.icon-container {
    border-radius: 8px;
    background-color: #ffffff; /* White background */
    padding: 2px 2px;
}

.icon-container img {
    object-fit: contain; /* Ensure the image fits within the container */
}

/* Activity icon and title container */
.icon-activity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.button-overall {
    background-color: #a63864bd;
    padding: 6px 12px; /* Reduced padding for smaller button */
    transition: all 0.3s ease;
    border-radius: 8px;
    border: none;
    font-size: 16px; /* Reduced font size for a smaller appearance */
    font-family: "Poppins", sans-serif;
    margin-top: -5px; /* Negative margin to move the button higher */
}

.button-overall:hover {
    background-color: #941548bd;
}




/* Container for additional information (map and details) */
.other-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%; 
    gap: 40px;
}

/* Map container styling */
.map-container {
    background-color: #ffffff;
    width: 100%;
    height: 60%; /* Map height within container */
    border-radius: 8px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

/* Hide the Leaflet attribution text */
.leaflet-control-attribution {
    display: none;
}

/* Details container styling */
.details-container {
    background: rgba(241, 216, 213, 0.806);
    width: 100%;
    height: 40%; /* Full height for details section */
    border-radius: 8px;
    padding: 20px 40px; /* Inner padding */
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
    font-family: "Poppins", sans-serif;
    text-align: left;
}

.details-container h2 {
    color: #000000;
    font-size: 25px;
}

.details-container p {
    padding: 10px;
    color: #000000;
    font-size: 18px;
}
